@charset "UTF-8";

body::-webkit-scrollbar {
  display: block;
}

/************ header *************/
header {
  padding: 1.5rem 1rem 1.5rem;
}

header .header_menu {
  position: fixed;
  width: calc(100% - 2rem);
  z-index: 999;
}

header .header_menu p,
header .header_menu span {
  font-size: 1.1rem;
}

header .header_menu .major {
  display: block;
}

header .header_menu .move {
  width: 300px;
  justify-content: space-between;
}

header .header_menu .move p {
  margin-bottom: -0.2rem;

}

header .header_menu .header_mail p:last-child {
  font-size: 0.8rem;
  margin-top: 3px;
}

header h1 {
  font-size: 14rem;
}

header .pp {
  font-size: 12rem;
  margin-top: -2.5rem;
}

header .position {
  width: 30%;
  font-size: 1.3rem;
}

/************ article1 *************/
.article1 {
  margin: 1rem;
  height: 45.51563rem;
}

.article1 .video {
  height: 45.51563rem;
}

.article1 .video h2 {
  font-size: 9rem;
  margin-bottom: -2rem;
}

.article1 .video h2:nth-child(2) {
  font-size: 8rem;
}

.article1 .video p {
  font-size: 2rem;
  margin-top: 4rem;
}

/************ article2 *************/
.article2 .position1 .tablet {
  width: 40%;
  font-size: 1.3rem;
  margin: 8rem 8rem 1rem;
}

.article2 .position2 {
  width: 20%;
  font-size: 1.3rem;
}

.article2 h3 {
  font-size: 10rem;
  margin-left: 1rem;
}

.article2 .pp {
  margin-top: -2rem;
}

.article2 .project {
  height: 100%;
  margin-top: -3.5rem;
}

.article2 .project .tittle {
  font-size: 1.3rem;
}

.article2 .project .article2_project_menu p {
  width: 10rem;
}

/************ article2 design1 *************/
.article2 .project .design1 .explain {
  padding: 2rem 3rem 4rem;
}

.article2 .project .design1 .explain h5 {
  font-size: 2.7rem;
  margin: 1.6rem 1rem 0 0;
}

.article2 .project .design1 .explain p {
  font-size: 1.45rem;
  line-height: 29px;
}

.article2 .project .design1 .explain .gray {
  font-size: 1.45rem;
  margin-top: 1.5rem;
}

.article2 .project .design1 .VeiwMore {
  font-size: 2rem;
}

/************ article2 design2 *************/
.article2 .project .design2 .explain {
  padding: 2rem 3rem 4rem;
}

.article2 .project .design2 .explain h5 {
  font-size: 2.7rem;
  margin: 1.6rem 1rem 0 0;
}

.article2 .project .design2 .explain p {
  font-size: 1.45rem;
  line-height: 29px;
}

.article2 .project .design2 .VeiwMore {
  font-size: 2rem;
}

/************ article2 design3 *************/
.article2 .project .design3 .explain {
  padding: 2rem 3rem 4rem;
}

.article2 .project .design3 .explain h5 {
  font-size: 2.7rem;
  margin: 1.6rem 1rem 0 0;
}

.article2 .project .design3 .explain p {
  font-size: 1.45rem;
  line-height: 29px;
}

.article2 .project .design3 .VeiwMore {
  font-size: 2rem;
}

/************ article2 design4 *************/
.article2 .project .design4 .explain {
  padding: 2rem 3rem 4rem;
}

.article2 .project .design4 .explain h5 {
  font-size: 2.7rem;
  margin: 1.6rem 1rem 0 0;
}

.article2 .project .design4 .explain p {
  font-size: 1.45rem;
  line-height: 29px;
}

.article2 .project .design4 .explain .gray {
  font-size: 1.45rem;
  margin-top: 1.5rem;
}

.article2 .project .design4 .VeiwMore {
  font-size: 2rem;
}

/************ article2 design5 *************/
.article2 .project .design5 .explain {
  padding: 2rem 3rem 4rem;
}

.article2 .project .design5 .explain h5 {
  font-size: 2.7rem;
  margin: 1.6rem 1rem 0 0;
}

.article2 .project .design5 .explain p {
  font-size: 1.45rem;
  line-height: 29px;
}

.article2 .project .design5 .VeiwMore {
  font-size: 2rem;
}

/************ article2 design6 *************/
.article2 .project .design6 .explain {
  padding: 2rem 3rem 4rem;
}

.article2 .project .design6 .explain h5 {
  font-size: 2.7rem;
  margin: 1.6rem 1rem 0 0;
}

.article2 .project .design6 .explain p {
  font-size: 1.45rem;
  line-height: 29px;
}

.article2 .project .design6 .VeiwMore {
  font-size: 2rem;
}

/************ article2 design7 *************/
.article2 .project .design7 .explain {
  padding: 2rem 3rem 4rem;
}

.article2 .project .design7 .explain h5 {
  font-size: 2.7rem;
  margin: 1.6rem 1rem 0 0;
}

.article2 .project .design7 .explain p {
  font-size: 1.45rem;
  line-height: 29px;
}

.article2 .project .design7 .VeiwMore {
  font-size: 2rem;
}

/************ article2 design8 *************/
.article2 .project .design8 .explain {
  padding: 2rem 3rem 4rem;
}

.article2 .project .design8 .explain h5 {
  font-size: 2.7rem;
  margin: 1.6rem 1rem 0 0;
}

.article2 .project .design8 .explain p {
  font-size: 1.45rem;
  line-height: 29px;
}

.article2 .project .design8 .VeiwMore {
  font-size: 2rem;
}

/************ article2 design9 *************/
.article2 .project .design9 .explain {
  padding: 2rem 3rem 4rem;
}

.article2 .project .design9 .explain h5 {
  font-size: 2.7rem;
  margin: 1.6rem 1rem 0 0;
}

.article2 .project .design9 .explain p {
  font-size: 1.45rem;
  line-height: 29px;
}

.article2 .project .design9 .VeiwMore {
  font-size: 2rem;
}

/************ article2 design10 *************/
.article2 .project .design10 .explain {
  padding: 2rem 3rem 4rem;
}

.article2 .project .design10 .explain h5 {
  font-size: 2.7rem;
  margin: 1.6rem 1rem 0 0;
}

.article2 .project .design10 .explain p {
  font-size: 1.45rem;
  line-height: 29px;
}

.article2 .project .design10 .VeiwMore {
  font-size: 2rem;
}


/************ article3 *************/
.article3 h3 {
  font-size: 10rem;
  margin-top: -3.5rem;
}

.article3 .pp {
  font-size: 7.5rem;
  margin-top: -2rem;
}

.article3 p {
  height: 18rem;
  font-size: 3rem;
  margin: 2rem 0 5.8rem;
}

/************ article4 *************/
.article4 .article4_mobile p {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

/************ footer *************/
footer h3 {
  font-size: 10rem;
}

footer h3:nth-child(2) {
  font-size: 8rem;
}

footer .contact {
  font-size: 3rem;
  margin: 6rem 0 0 10.87rem;
  text-transform: uppercase;
  color: var(--main-color);
  transition: all 0.3s ease;
}

footer .mail {
  border-bottom: none;
  padding: 0 0 1rem 0.5rem;
}

footer .git_link a {
  font-size: 30px;
  line-height: 30px;
}

footer .mail span::after {
  content: "";
  width: 0%;
  left: 3.5rem;
  height: 4px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #8f4141;
  transition: all 0.4s ease;
}

footer .mail:hover span::after {
  content: "";
  width: 25%;
  left: 4rem;
  height: 4px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #8f4141;
  transition: all 0.4s ease;
}

footer .contact:hover+.mail span::after {
  content: "";
  width: 30%;
  left: 4rem;
  height: 4px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #8f4141;
  transition: all 0.4s ease;
}

footer .mono {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  word-break: break-word;
  font-size: 0.93rem;
}

footer .git_link {
  width: 21%;
  height: 50px;
  line-height: 50px;
  font-size: 1.7rem;
  margin-top: 4rem;
}

footer .git_link a:hover {
  font-weight: normal;
  border-bottom: 1px solid white;
}