@charset "UTF-8";

/************ article2 *************/
.article2 .project {
  height: 232rem;
}

.article2 .project .article2_project_menu p {
  width: 15rem;
}

.article2 .project .design1,
.article2 .project .design2,
.article2 .project .design3,
.article2 .project .design4,
.article2 .project .design5,
.article2 .project .design6 {
  padding: 1.08rem 0.81rem;
  margin-bottom: 2.5rem;
  width: calc(52.1875rem - 1.62rem);
  height: calc(74.363rem - 1.16rem);
}

/************ article2 design1 *************/


/************ article4 *************/
.article4 .article4_list .logo1 {
  top: -10%;
  right: 13rem;
}

.article4 .article4_list .logo2 {
  top: -5%;
  right: 13rem;
}

.article4 .article4_list .logo3 {
  top: -3%;
  right: 13rem;
}

.article4 .article4_list .logo4 {
  top: 8%;
  right: 13rem;
}

.article4 .article4_list .logo5 {
  top: 15%;
  right: 13rem;
}

.article4 .article4_list .logo6 {
  top: 20%;
  right: 13rem;
}

.article4 .article4_list .logo7 {
  top: 25%;
  right: 13rem;
}

.article4 .article4_list .logo8 {
  top: 40%;
  right: 13rem;
}

.article4 .article4_list .logo9 {
  top: 48%;
  right: 13rem;
}

.article4 .article4_list .logo10 {
  top: 55%;
  right: 13rem;
}

.article4 .article4_list .logo11 {
  top: 55%;
  right: 13rem;
}

.article4 .article4_list .logo12 {
  top: 60%;
  right: 13rem;
}

.article4 .article4_list .logo13 {
  top: 65%;
  right: 13rem;
}

.article4 .article4_list .logo14 {
  top: 70%;
  right: 13rem;
}

.article4 .article4_list .logo15 {
  top: 70%;
  right: 13rem;
}

footer .mail:hover span::after {
  width: 18%;
}

footer .contact:hover+.mail span::after {
  width: 18%;
}

footer .mono {
  width: 90%;
}

footer .git_link {
  width: 15%;
  height: 50px;
  line-height: 50px;
}